:where(body) {
  overflow: hidden;
  height: 100vh;
  background-blend-mode: lighten;
}

:where(body:not(.vibrancy)) {
  &::before {
    content: '';
    inset: 0 -16vw -16vh 0;
    z-index: -1;

    background-color: #b09778ff;

    @apply pointer-events-none fixed bg-cover;
  }

  & > * {
    @apply bg-white/80;
  }
}

:where(.enso-dashboard) {
  @apply absolute inset-0 flex flex-col overflow-hidden;
}
